@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

.alerta{
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 50vh;
    right: 50vw;
    padding: 10px;
    border-radius: 4px;
    border: 2px #00838d solid;
    transform: translate(50%,50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
