@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

* {
  transition: all 0.3s ease-out;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
.container {
  width: 100%;
  height: 100%;
}

h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 0.5rem 1.1rem;
  margin: 0.69rem;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}
.card3 .go-corner {
  opacity: 0.7;
}
.card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3:hover p {
  color: #00838d;
}
.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card3 i{
  font-size: 2.5rem;
  margin-top: 0.5rem;
  color: #0c0c0c;
}

.card3:hover i{
  color: #00838d;
}
