body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #d7b2fa 100%);
    

    
    
 
    font-family: 'Josefin Sans', sans-serif; 
}

a {
    text-decoration: none;
    color: black;
}
.paginaPrincipal__menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;

}

.paginaPrincipal__menu-card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 15rem;
    
    justify-content: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.paginaPrincipal__menu-card i{
    font-size: 3rem;
    margin-top: 1rem;
    color: beige;
}

.titulo__principal{
    font-family: 'Josefin Sans', sans-serif;
    color: beige;
    text-align: center;
    font-size: 4rem;
}

.subtitulo{
    color: beige;
    text-align: center;
}