@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

body{
    font-family: "Nunito", sans-serif;
    /* font-family: 'Josefin Sans', sans-serif;  */
}
#divisionPrincipal{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

/* Formulario ---------*/

#divisionPrincipal__containerform-form{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#divisionPrincipal__containerform-form input,select,p{
    margin: 0.5rem;
}